<h1>Utah Court Calendar Service</h1>

<p>
  Search for events matching a given case number (e.g. <code>SLC 161901292</code>).
</p>

<pre>
  <code><%= link_to "GET /api/v0/event-search.json?case_number=SLC%20161901292", "/api/v0/event-search.json?case_number=SLC%20161901292" %></code>
</pre>
