<% unless developer_account_signed_in? %>
  <p>
    Only registered Developer Accounts with a valid API Key may access the API.
    <%= link_to "Sign Up", new_developer_account_registration_path %> |
    <%= link_to "Sign In", new_developer_account_session_path %>
  </p>
<% else %>
  <p>
    <%= "My Developer Account" %> |
    <%= link_to "Log Out", destroy_developer_account_session_path, :method => :delete %>
  </p>
<% end %>
